body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: rgb(245, 170, 9);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #4a67ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #3247c5;
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}
p {
  background-color: #74ebd5;
  background: rgb(215, 231, 3);
  padding: 5px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}